// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
		background: transparent;
		border-color:transparent !important;
	}
	h1 {
			font-family: "SF Display";
			font-weight: 800;
			margin-left: 7px;
			font-size: 24px;
		}
	.header-md::after{
		display:none;
	}
	ion-navbar button {
    color: #53A318 !important;
}
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("../assets/SF-UI-Display-Black.otf");
}

/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("../assets/SF-UI-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("../assets/SF-UI-Display-Heavy.otf");
}

/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("../assets/SF-UI-Display-Light.otf");
}

/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../assets/SF-UI-Display-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../assets/SF-UI-Display-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../assets/SF-UI-Display-Semibold.otf");
}

/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("../assets/SF-UI-Display-Thin.otf");
}

/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("../assets/SF-UI-Display-Ultralight.otf");
}
.alertcsscustom{
.alert-title img {
margin: 0 auto;
display: table;
}
.alert-button-group {
    padding: 0 0 13px !important;
}
.alert-button {
    color: orange !important;
    text-align: center !important;
    float: none !important;
    margin: 0 auto !important;
    box-shadow: 1px 1px 4px #ccc;
    width: 80%;
}
.alert-wrapper {
    border-radius: 9px !important;
}
.alert-button span {
    display: table;
}
.alert-title {
    text-align: center;
}
}